
<h1>Stupid coaching</h1>
<div class="answer">"<%=@question %>"
  - You
</div>
<div class="answer" id="yellow">"<%=@answer%>"
  - Coach
</div>

<a href="/ask" value="another">Ask another question</a>
